{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ios.js", ".android.js", ".js"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/no-multi-comp": "off",
  }
}
